body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  overflow-y: hidden;
}


.btn{
  border-radius: 3px;
  background: #ddd;
  padding:20px 50px 20px 50px;
  text-decoration: none;
}

.btn:hover, .btn:active{

  background: #eee;

}